body {
  font-family: Helvetica, Arial, FreeSans, sans-serif;
  font-size: 16px;
  background-color: purple;
}

form {
  color: yellow;
  font-size: 15px;
  font-size: 1.3em;
}

h1 {
  font-size: 100px;
  font-size: 9em;
  color: yellow;
  margin-bottom: 0.3em;
}

.formcontainer {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 0%;
}

.flash {
  color: yellow;
  font-family: Helvetica, FreeSans, Arial, sans-serif;
  font-size: 15px;
  font-size: 1.3em;
}

.button {
  display: none;
  font-family: Helvetica, FreeSans, Arial, sans-serif;
  background: none;
  border: 2px solid yellow;
  color: yellow;
  font-family: Helvetica, FreeSans, Arial, sans-serif;
  font-size: 15px;
  font-size: 1.3em;
}

.field {
  color: yellow;
  font-family: Helvetica, FreeSans, Arial, sans-serif;
  font-size: 15px;
  font-size: 1.3em;
  background: none;
  border: 2px solid yellow;
  outline: none;
}

@media(max-width: 600px) {
  body {
    font-size: 10px;
  }

  label {
    display: block;
  }
}
